
/* nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Lato', sans-serif;
    color: #ff4e50;
}

#main-div   {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#ff4e50, #f9d423);
} */

h1  {
    color: #E4EfE9;
    font-family: 'Lato', sans-serif;
    font-size: 85px;
    font-weight: 400;
    text-align: center;
}


body    {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#ff4e50, #f9d423);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lato', sans-serif;
    /* color: #E4EfE9; */
    color: #ff4e50;
    font-size: 20px;
    background-color: #E4EfE9;
    height: 40px;
    width: 100vw;
    margin-top: -10px;
    margin-left: -8px;
}